
.police{
    font-family: 'Bungee Inline', cursive;  
}

/*//////////////////// HEADER: Barre menu + " karoline jeuffroy " //////////////*/

header{
    display: flex;
    flex-direction: row;
}

.name {
    font-size: 30px;
    margin: 50px;
    padding: 35px;
}

.menu {
    display: flex;
    align-items: center ; 
    justify-content: flex-end;
}

ul {
    list-style-type: none; /**retire la liste à puces**/
    display:flex;
    justify-content: space-around;
    font-size: 10px; 
    text-align: center;
}

li a {
    display: inline-block;
    block-size: auto;
    margin: auto;
    color: black;
    padding-left: 100px;
    text-align: center;
    text-decoration: none;
}
/*/////////////////////////FIN Barre Menu + En tête " Karoline Jeuffroy ///////////////*/



/*///////////////////////Page Acceuil Ocotpus + texte " web designer " ///////////////*/


#home
{
    display: flex;
}

.homeimg{
    width: 70%;
  height: auto;  
  display: flex;
  vertical-align:center;
}

.title {
        display:flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
    }




/* FIN DE LA PAGE D'ACCEUIL */




/*PAGE DE PRESENTATION */

#presentation{
    background-color: black;
    color: white;
    margin: 300px;
    padding: 25px;
    font-size: 10px;
    display:flex;
    align-items: center;
}

.moi{
    display: flex;
    width: 100px;
    height: 100px;
    margin: 0px 50px;
    
}
    
/*FIN DE PAGE DE PRESENTATION */






/* PAGE D EXPERIENCES*/

#experiences{
    
    margin: 300px;
    padding: 25px;
    font-size: 10px;
    display:flex;
    align-items: center;
}

#menu2 {
    list-style-type: none; /**retire la liste à puces**/
    display:flex;
    text-align: center;
    
}

.m2{
    font-size: 30px;
    justify-content: space-around;
    
}


.menuArt{
    display: flex;
    flex-direction: column;
}






   


