
.police{
    font-family: 'Bungee Inline', cursive;  
}

header{
    display: flex;
    flex-direction: row;
}

.name {
    font-size: 30px;
    margin: 50px;
    padding: 35px;
}

.menu {
    display: flex;
    align-items: center ; 
    justify-content: flex-end;
}

ul {
    list-style-type: none; /**retire la liste à puces**/
    display:flex;
    justify-content: space-around;
    font-size: 10px; 
    text-align: center;
}

li a {
    display: inline-block;
    block-size: auto;
    margin: auto;
    color: black;
    padding-left: 100px;
    text-align: center;
    text-decoration: none;
}


#home
{
    display: flex;
    margin: 0px
}

#hometxt{

    font-size: 10px;
    padding-block: 250px 250px;
    
}







/* FIN DE LA PAGE D'ACCEUIL */




/*PAGE DE PRESENTATION */

#presentation{
    background-color: black;
    color: white;
    margin: 50px;
    padding: 35px;
    font-size: 10px;
    display:flex;
}

.moi{
    display: flex;
    width: 100px;
    height: 100px;
}
    
/*FIN DE PAGE DE PRESENTATION */






/* PAGE D EXPERIENCES*/



.button {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        color: white;
        background-color: black;
        font-size: 60px;
        
    }



   


