
header{
    display: flex ; /* mettre a côté les uns les autres */
    align-items: center; 
}

h1{
    font-size: 100px;
    margin: 100px;
    padding: 89px;
    font-family: 'Bungee Inline', cursive;
}

ul{
    list-style-type: none; /**retire la liste à puces**/
    display:flex;
    justify-content: space-around;
    font-size: 40px; 
    text-align: center;  
    flex: right;   
}

li a {
    display: inline-block;
    block-size: auto;
    margin: auto;
    color: black;
    padding-left: 100px;
    text-align: center;
    text-decoration: none;
}

#home
{
    display: flex;
}

/* FIN DE LA PAGE D'ACCEUIL */


/*PAGE DE PRESENTATION */

#presentation{
    background-color: black;
    color: white;
    margin: 357px;
    padding: 390px;
    font-size: 40px;
    display:flex;
}

.moi{
    width: 500px;
    height: 500px;
}
    
/*FIN DE PAGE DE PRESENTATION */






/* PAGE D EXPERIENCES*/


